# Task1 
Create a variable named x, and assign it a value of 20.

In [1]:
x=20

# Task2
Create two variables named x and y, and assign them with values 10 and 20 respectively.

In [2]:
x=10
y=20

# Task3 
Create a variable named x which is assigned a value of 'apple'. Print the variable x to standard output.

In [3]:
x="apple"
print(x)

apple

# Task4
Assign variable x with 10, and variable y with 20. Find their sum and assign the result to a variable z. Then print the variable z.

In [6]:
x=10
y=20
z=10+20
print(z)

30

# Task5
Initialize all the three variables x, y, and z with the same value of 'apple' in a single statement.

In [7]:
x=y=z="apple"

# Task6
What is the built-in function that returns the type of the given value or variable (x or y or z).

In [8]:
type(x)

str

# Task7
Which built-in function is used to read input from user?

In [10]:
x=input("")

 5

# Task8
Reverse a given string 
str1 = "Amit Learning"

In [11]:
str1= "Amit Learning"

In [12]:
str1=str1[::-1]
print(str1)

gninraeL timA

# Task9
split a given string
str2 = "Dema-is-a-data-scientist"

output >> ['Dema', 'is', 'a', 'data', 'scientist']

In [13]:
str2= "Dema-is-a-data-scientist"
sliced_String=str2.split("-")
print(sliced_String)

['Dema', 'is', 'a', 'data', 'scientist']

# Task10
Join this list['Dema', 'is', 'a', 'data', 'scientist'] 

output >> 'Dema is a data scientist'

In [14]:
lst= ['Dema', 'is', 'a', 'data', 'scientist']
joinedlist=" ".join(lst)
print(joinedlist)

Dema is a data scientist

# Task11
Get the characters:

From: "o" in "World!" 

To, but not included: "d" in "World!"

str1 = "Hello, World!"

In [15]:
str1 = "Hello, World!"
str1[8:11]

'orl'

# Task12
Check if "free" is present in the following text:

txt = "The best things in life are free!"

In [16]:
txt = "The best things in life are free!"
x="free"
if x in txt:
    print("Present")
else:
    print("missing")

Present

# Task13
#removes any whitespace from the beginning or the end

s = " Hello, World! "

In [17]:
s = " Hello, World! "
s.strip()

'Hello, World!'

# Task14
Replace the character H with J.


txt = "Hello World"

In [18]:


txt = "Hello World"
txt2=txt.replace("H","J")
print(txt2)

Jello World