#### Multiply 10 with 5, and print the result.

In [2]:
print(10*5)

50

### Divide 10 by 2, and print the result.

In [3]:
print(10/2)

5.0

### Use the correct membership operator to check if "apple" is present in the fruits object.

In [25]:
fruits = ['apple', 'cherry', 'banana', 'watermelon']

In [26]:
if "apple" in fruits:
    print("apple is avaliable")
else: 
    print("apple isnt avaliable")

apple is avaliable

### Use the correct comparison operator to check if 5 is `not equal` to 10.

In [27]:
if 5!= 10:
    print("not equal")

not equal

### Use the correct logical operator to check if at least one of two statements is `True`.

In [28]:
x=True
y=False
if x or y == True:
    print("Yes")
else:
    print("False")

Yes

### Print the second item in the fruits list.

In [29]:
print(fruits[1])

cherry

### Change the value from "apple" to "kiwi", in the fruits list.

In [30]:
fruits[0]="kiwi"
print(fruits)

['kiwi', 'cherry', 'banana', 'watermelon']

### Use the append method to add "orange" to the fruits list.

In [31]:
fruits.append("orange")
print(fruits)

['kiwi', 'cherry', 'banana', 'watermelon', 'orange']

### Use the insert method to add "lemon" as the second item in the fruits list.

In [32]:
fruits.insert(1,"lemon")
print(fruits)

['kiwi', 'lemon', 'cherry', 'banana', 'watermelon', 'orange']

### Use the remove method to remove `"banana"` from the fruits list.

In [33]:
fruits.remove("banana")
print(fruits)

['kiwi', 'lemon', 'cherry', 'watermelon', 'orange']

### Use negative indexing to print the last item in the list.

In [34]:
print(fruits[-1])

orange

### Use a range of indexes to print the third, fourth, and fifth item in the list.

In [36]:
print(fruits[2:5])

['cherry', 'watermelon', 'orange']

### Use the correct syntax to print the number of items in the list.

In [38]:
print(len(fruits))

5

### Write a Python program to print all even numbers from a given list of numbers in the same order and stop printing any after 237 in the sequence.

#### numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958,743, 527
    ]

In [39]:
numbers = [
386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
958,743, 527
]

In [40]:
for i in numbers:
    if i%2==0:
        print(i)

386
462
418
344
236
566
978
328
162
758
918
412
566
826
248
866
950
626
104
58
512
24
892
894
742
958

### Write a Python program that will accept the base and height of a triangle and compute its area.

<img src="https://www.w3resource.com/w3r_images/python-area-triangle-basic-exercise-30.png" alt="Girl in a jacket" width="500" height="600">

In [41]:
base=float(input("Please enter base of the triangle:"))
height=float(input("Please enter height of the triangle:"))
print(0.5*base*height)

Please enter base of the triangle: 5
Please enter height of the triangle: 5

12.5

### Sort three integers without using conditional statements

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-69.png" alt="Girl in a jacket" width="500" height="600">

In [49]:
lst=[3,7,8]
minimum=min(lst)
middle=sum(lst)-min(lst)-max(lst)
maximum=max(lst)
sortedL=[minimum,middle,maximum]
print(sortedL)

[3, 7, 8]

#### Write a Python function that takes a sequence of numbers and determines whether all the numbers are different from each other.

<img src="https://www.w3resource.com/w3r_images/python-basic-1-image-exercise-1.png" alt="Girl in a jacket" width="500" height="600">

In [5]:
x = input("Enter numbers separated by space: ")
y = x.split()

def Uniqueness(y):
    seen = set()
    for num in y:
        if num in seen:
            return False
        seen.add(num)
    return True

print(Uniqueness(y))

Enter numbers separated by space:  1 2 2 3 5 4 6

False

#####

#### Dictionary

In [69]:
#Return all keys 
dict1 = {'a': 100, 'b': 200, 'c': 300}
print("keys:",dict1.keys())

keys: dict_keys(['a', 'b', 'c'])

In [70]:
#Return all Values
dict1 = {'a': 100, 'b': 200, 'c': 300}
print("Values:",dict1.values())

Values: dict_values([200, 300])

In [72]:
#Return a list of tuple
dict1 = {'a': 100, 'b': 200, 'c': 300}
print(dict1.items())

dict_items([('a', 100), ('b', 200), ('c', 300)])

```
Input : {‘a’: 100, ‘b’:200, ‘c’:300}
```
Output : 600
```
# Input : {‘x’: 25, ‘y’:18, ‘z’:45}

```
Output : 88

In [73]:
print(sum(dict1.values()))

600

### Calculate the sum of all numbers from 0 to a given number

In [80]:
x = int(input('enter a number: '))
Sum=0
for i in range(x+1):
    Sum+=i
print (Sum)

enter a number:  4

10

### Find the factorial of a given number using while loop

#### For example: calculate the factorial of 5



```
# 5! = 5 × 4 × 3 × 2 × 1 = 120

```

In [87]:
x=5
Fac=1
while x !=0:
    Fac*=x
    x-=1
print(Fac)

120

### Use a loop to display elements from a given list present at odd index positions

```
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Expected output:
20 40 60 80 100
```

In [88]:
my_list = [10,20,30,40,50,60,70,80,90,100]
print(my_list[1::2])

[20, 40, 60, 80, 100]

### len of str in list
### ['apple', 'orange', 'cat']

In [89]:
l = ['apple', 'orange', 'cat']
print(len(l))

3

### program to count number of vowels using sets in given string

In [96]:
vowels = {'a','e','i','o','u'}
string = input('enter a word: ')
count = 0
for char in string:
    if char.lower() in vowels:
        count += 1
print(count)

enter a word:  Ahmed

2


### Write a Python program to add an item to a tuple.

In [99]:
tuple1 = (1,3,5)
item = 10
tuple2=list(tuple1)
tuple2.append(item)
tuple1=tuple(tuple2)
print(tuple1)

(1, 3, 5, 10)

### Write a Python program to multiply all the items in a list.

In [16]:
lst = [1, 3, 5, 2]
y
for i in lst:
    y*=i
print(y)

### Write a Python program to get the smallest number from a list.

In [97]:
lst = [1, 3, 5,1,1000, 2]
print(min(lst))

1

### Write a Python program to get the largest number from a list.

In [18]:
lst = [1, 3, 5,1,1000, 2]
print(max(lst))

### Write a Python program to remove item(s) from a given set.

### s = set([0, 1, 3, 4, 5])

In [106]:
s = set([0, 1, 3, 4, 5])
while True:
    x=input("please enter number to remove if done write exit")
    if x == "exit":
        break
    s.remove(int(x)) 
    print(s)

please enter number to remove if done write exit 3

{0, 1, 4, 5}

please enter number to remove if done write exit exit

### Write a Python program to find the maximum and minimum values in a set.

In [108]:
set1 = {1,8,4,3,2,6}
print(f"Maximum:{max(set1)} Minimum:{min(set1)}")

Maximum:8 Minimum:1

### Write a Python program to convert a tuple to a dictionary.
### dict1 = {}
### tuple1 = ("name", "age", "city","city")

```
# enumerate()
```

enumerate() returns a value and its index in the itterable (value,index)

In [109]:
tuple_1 = ('name','age','city','city')    #output {'name': 0, 'age': 1, 'city': 3}
dict1 = {index: value for index, value in enumerate(tuple1)}
print(dict1)

{0: 1, 1: 3, 2: 5, 3: 10}